*  {
  box-sizing: border-box;
}
html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 30px; 
  user-select: none;  
  overflow: hidden;  
}

body{
  padding: 0;
  margin: 0;  
  height: 100%;
  width: 100%;
  text-shadow: 0 1px 0 white;
  transition: all 0.25s ease; 
  overflow: hidden;
}

#background{
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;  
  right: 0;
  background-image: url(images/twostalks.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;    
}
#pictureHolder{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.5rem;
}

#controlsHolder{
  background-color: transparent; 
  border: 1px solid black;
  border-radius: 0.5rem;
}

#controlsAssembly{
  position: fixed;  
  /*
  width: 100%;
  height: 75%;
  padding: 0.25rem;
  top: 40%;
  left: 50%;
  */

  width: 100%;
  height: 50%;
  padding: 0.25rem;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.4);  
}
#select{
  display: inline-block;
  width: 55vw;
}

audio{
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -40%);  
  color: gray;
  text-shadow: 0 1px 0 white;
  width: 99.8%;
}

.released{
  box-shadow: 2px 2px 4px black;
  font-size:20px;
  background: #f8f8f8;  
  color: #181818;
  text-shadow: 0 1px 0 white;
}

.pressed{
  box-shadow: inset 2px 2px 4px black;
  font-size:19.9px;
  background: #f2f2f2;  
  color: black;
  text-shadow: 0 2px 0 white;  
}

footer{
  position: fixed;
  width: 100%;
  height: 0.85rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: lightgray;
  overflow: hidden;
  text-align: center;
}

#info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem; 
  width: 100%;
  font-family: sans-serif;
}

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: red;
  border-bottom: 1px solid gray;
  border-radius: 2.5px;
  z-index: 10;
}

.portraitTop{
  /* center at top */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100%;
  height: 50%;  
  text-align: center;
  background: transparent;
}

.portraitBottom{
  /* center at bottom */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100%;
  height: 50%;
  text-align: center;
  background: #eee;
}

.landscapeLeft{
  /* center at left */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  
  width: 50%;
  height: 100%;
  text-align: center;
  background: transparent;  
}

.landscapeRight{
  /* center at right */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  width: 50%;
  height: 100%;
  text-align: center;
  background: #eee;    
}



